.test-square-haddock {
  height: 500px;
  width: 400px;
  background-color: blue;
}

.test-square-tintin {
  height: 700px;
  width: 800px;
  background-color: orange;
}

.case-08-partir {
  display: flex;
  flex-direction: column;
  align-items: center;
}
