.case-02-cliquer-moine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-square-moine-flotte-02 {
  height: 500px;
  width: 200px;
  background-color: red;
}

.test-square-moines-autour {
  height: 700px;
  width: 1000px;
  background-color: black;
}
