.case-16-vente-comic {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.cote-text {
  padding: 120 130;
}

.cote-text h1 {
  font-family: Field Gothic;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.button {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Field Gothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  width: 224px;
  height: 56px;
  flex-shrink: 0;
  text-align: center;
}

.bd {
  width: 50%;
}
