.case-10-pierre-tchang {
  position: relative;
  aspect-ratio: 2 / 1;
}

.pierre {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 30%;
}

.bulle-pierre {
  position: absolute;
  bottom: 30%;
  left: 35%;
  z-index: 1;
}
