.case-08-partir {
  position: relative;
  aspect-ratio: 2 / 1;
}

.haddock-argumente {
  position: absolute;
  bottom: 10%;
  left: 42%;
  width: 100%;
}

.tintin-jy-vais {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 100%;
}
