.case-07-journal {
  position: relative;
  aspect-ratio: 2 / 1;
}

.bg-journal {
  position: absolute;
  width: 48%;
  bottom: 0%;
  left: 30%;
  filter: blur(3px);
  animation: flyInFadeInOut 8s ease-in-out infinite;
  animation-delay: 5s;
}

@keyframes flyInFadeInOut {
  0%,
  100% {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tintin-lit {
  position: absolute;
  width: 40%;
  bottom: -1%;
  left: 29%;
  z-index: 1;
}
