.case-09-montagne-group {
  position: relative;
  aspect-ratio: 2 / 1;
  border: 3px solid red;
}

.montagnes-group {
  position: absolute;
  width: 50%;
  left: 22%;
  bottom: 2%;
  z-index: 1;
}

.montagnes-group-bg {
  position: absolute;
  width: 58%;
  left: 20%;
  bottom: 1%;
}
