.case-11-jumelles {
  position: relative;
  aspect-ratio: 2 / 1;
  background-color: black;
  background-size: auto;
}

.jumelles-vue {
  position: absolute;
  width: 65%;
  bottom: 3.5%;
  left: 17%;
}
