.case-13-avalanche-tombe {
  position: relative;
  aspect-ratio: 2 / 1;
}

.avalanche-tombe {
  position: absolute;
}

.avalanche-tombe-bg {
  position: absolute;
}

.avalanche-tombe-crac {
  position: absolute;
}
