.test-square-jumelles-vue {
  height: 700px;
  width: 1200px;
  background-color: black;
}

.case-11-jumelles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}
