.case-10-pierre-tchang {
  position: relative;
  aspect-ratio: 2 / 1;
}

.pierre {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 30%;
  animation: meetAnimation 6s ease-in-out infinite;
  animation-delay: 1s;
}

.bulle-pierre {
  position: absolute;
  bottom: 30%;
  left: 35%;
  z-index: 1;
  animation: meetAnimation 6s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes meetAnimation {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 0);
  }
}
