.test-square-pierre {
  height: 500px;
  width: 300px;
  background-color: blue;
}

.test-square-bulle-pierre {
  height: 300px;
  width: 500px;
  background-color: black;
}

.case-10-pierre-tchang {
  display: flex;
  flex-direction: column;
  align-items: center;
}
