.test-square-moine-flotte {
  height: 600px;
  width: 200px;
  background-color: red;
}

.test-square-bulle-moine-wow {
  height: 200px;
  width: 200px;
  background-color: black;
}

.test-square-moine-wow {
  height: 500px;
  width: 300px;
  background-color: purple;
}

.case-01-moine-flotte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
