.case-01-moine-flotte {
  position: relative;
}

.moine-flotte {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 12.5%;
}

.bulle-moine-wow {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 25%;
}

.moine-wow {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 25%;
}
