.case-14-monastere-voit-avalanche {
  position: relative;
  aspect-ratio: 2 / 1;
}

.monastere-voit-avalanche-moines {
  position: absolute;
}

.monastere-voit-avalanche-sol {
  position: absolute;
}

.monastere-voit-avalanche-bg {
  position: absolute;
}
