.case-02-cliquer-moine {
  position: relative;
  aspect-ratio: 2 / 1;
}

.moine-flotte-02 {
  position: absolute;
  bottom: 30%;
  left: 57%;
  width: 10%;
}

.moines-autour {
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 40%;
}
