.test-square-monastere-voit-avalanche {
  height: 700px;
  width: 900px;
  background-color: black;
}

.case-14-monastere-voit-avalanche {
  display: flex;
  flex-direction: column;
  align-items: center;
}
