/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: field-gothic-compact, sans-serif;
  font-style: normal;
  font-weight: 200;
  margin: auto;
  height: auto;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

nav {
  background-color: #ffffd8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  height: 50px;
  position: fixed;
  top: 0;
}

nav img {
  height: 90px;
}

header {
  background-image: url("../img/intro-montagnes.webp");
  background-size: 100%;
  height: 1023px;
}

footer {
  background-color: black;
  color: white;
}

.footer-contacts-section {
  display: flex;
  flex-direction: row;
}

.footer-text-gauche h1 {
  font-family: Field Gothic;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.footer-text-gauche {
  padding: 150 140 210 130;
}

.footer-text-droit {
  font-family: Field Gothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 150 130 210 140;
}

.footer-text-droit h1 {
  font-family: Field Gothic;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}

/* ====================================
// base rules
// ==================================== */
